@page
@model SQLTest.Pages.AddEmployeesModel
@{
	ViewData["Title"] = "Add an Employee";

}

<div class="text-center">
	<h1>Add Employee</h1>
</div>

<div>
	<form method="post">
		<h2>Employee Name</h2>
		<div class = "form-group"> 
			<label asp-for="Employee.Name"></label>
			<input asp-for="Employee.Name" class="form-control"/>
		</div>
		<h2>Employee Title</h2>
		<div class = "form-group">
			<label asp-for="Employee.Title"></label>
			<input asp-for="Employee.Title" class="form-control"/>
		</div>

		<div asp-asp-validation-summary="All" class="text-danger"></div>
		<button type="submit" class="btn btn-primary" style="margin-top:20px;">Add Employee</button>
	</form>
</div>

<div style=" margin-top:20px;">
	<a asp-page="/Index" class=" " btn btn-primary" style="font-size: 20px; padding: 10px 20px;">
		HomePage
	</a>
</div>
